.formulaire{
    margin-top: 500px;
    margin-left: 10px;
  }

  .container{
  
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .body{
    background-color: #8d8b8b;}


    .profile{
      flex-flow: column;
      background-color: white;
      display: flex;
      background-color: #8d8b8b;
      height: 600px;
    }